
.feds-align-justify:before { content: '\e800'; }
.feds-left-open-1:before { content: '\e801'; }
.feds-down-open-1:before { content: '\e802'; }
.feds-right-open-1:before { content: '\e803'; }
.feds-up-open-1:before { content: '\e804'; }
.feds-heart-2:before { content: '\e805'; }
.feds-cancel-1:before { content: '\e806'; }
.feds-ok:before { content: '\e807'; }
.feds-ccw:before { content: '\e808'; }
.feds-cw:before { content: '\e809'; }
.feds-search-1:before { content: '\e80b'; }
.feds-ok-1:before { content: '\e80f'; }
.feds-plus-2:before { content: '\e813'; }
.feds-right-dir-2:before { content: '\e814'; }
.feds-left-dir-1:before { content: '\e815'; }
.feds-up-dir:before { content: '\e816'; }
.feds-down-dir-2:before { content: '\e817'; }
.feds-plus-1:before { content: '\e81b'; }
.feds-minus-1:before { content: '\e81d'; }
.feds-spin5:before { content: '\e838'; }
.feds-minus:before { content: '\e856'; }
.feds-menu:before { content: '\e861'; }
.feds-heart-empty:before { content: '\e869'; }
.feds-star-2:before { content: '\e883'; }
.feds-star-empty:before { content: '\e899'; }
.feds-cancel-3:before { content: '\e8cc'; }
.feds-search-2:before { content: '\e8de'; }
.feds-filter:before { content: '\f0b0'; }
.feds-angle-left:before { content: '\f104'; }
.feds-angle-right:before { content: '\f105'; }
.feds-angle-up:before { content: '\f106'; }
.feds-angle-down:before { content: '\f107'; }
.feds-sliders:before { content: '\f1de'; }