@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
body{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}
.kb-clearfix {
    clear: both;
}
.velo-search-container {
    max-width: 1170px;
	width:100%;
    margin: 20px auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.velo-location-list ul li .mp-openday-list-title {
    width:35%;
}
.velo-popup .velo-add-address {
    padding-left: 20px;
}
.velo-location-list ul li .mp-openday-list-value {
    padding: 5px 10px 0 10px;
}
.velo-store-filters {
    margin-bottom: 30px;
    background: #f2f6f9;
    padding: 20px 10px 10px;
    border: 1px solid #e3f0f9;
    border-radius: 2px;
}
.velo-store-banners {
    margin-bottom: 30px;
    padding: 20px 10px 10px;
    border-radius: 2px;
}
.velo-field-inline {
    display: inline-block;
    margin-right: 20px;
}
.velo-field-inline input, .velo-field-inline select {
    padding: 7px 12px;
    border: 1px solid #e3f0f9;
    height: 35px;
    box-sizing: border-box;
	margin-bottom: 10px;
	border-radius: 2px;
	background: #ffffff;
}
.velo-field-inline input:focus, .velo-field-inline select:focus
{
	outline:0;
}
.velo-search-button button {
    border: 1px solid #4772d4;
    padding: 8px 25px;
    width: 100%;
    max-width: 200px;
    display: inline-block;
    background: #6d96f3;
    color: #fff;
    font-size: 14px;
	border-radius: 2px;
	cursor: pointer;
}
.velo-location-list {
    width: 30%;
    float: left;
	max-height: 500px;
    overflow: auto;
	padding-right: 10px;
    box-sizing: border-box;
    background: #f2f6f9;
}
.velo-location-list ul{
	margin:0;
	padding: 10px;
	list-style:none;
}
.velo-location-list ul li{
	list-style:none;
	
	background-repeat:no-repeat;
	background-position:0px 10px;
	padding:10px; 
	padding-left:35px; 
	border: 1px solid #e3f0f9;
	width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
	margin-bottom:10px;
}
.velo-location-list ul li a, .velo-location-list ul li {
    text-decoration: none;
    color: #2f2f2f;
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
	/*cursor: pointer;*/
}
.velo-location-list ul li a:hover{
	opacity:0.8;
}
.velo-store-map {
    float: right;
    width: 70%;
    height: 500px;
}
.velo-store-map #map {
        height: 100%;
      }
.velo-location-list ul li a.velo-directions-link {
    display: block;
    background: #6d96f3;
    padding: 5px 5px;
    clear: both;
    /*width: 100%;*/
    box-sizing: border-box;
    /*max-width: 112px;*/
    text-align: center;
    border-radius: 2px;
    color: #fff;
    margin-top: 10px;
    position: relative;
	float: right;
}
.velo-location-list ul li .velo-directions-button {
    display: block;
    background: #6d96f3;
    padding: 5px 7px;
    clear: both;
    /*width: 100%;*/
    box-sizing: border-box;
    /*max-width: 112px;*/
    text-align: center;
    border-radius: 2px;
    color: #fff;
    margin-top: 10px;
    position: relative;
	float: left;
	border:0;
}
/*changes by rishabh jain

// chanegs over*/
#kb_pts_carrier_block .velo-store-map {
        width: 60%;
}
#kb_pts_carrier_block .velo-location-list {
    width: 40%;
}
#kb_pts_carrier_block .store-selected, #kb_pts_carrier_block .velo-store-select-link {
margin-left: 0;
    float: left;
	}
#kb_pts_carrier_block .velo-location-list ul li a.velo-directions-link {
    float: left;
}
#kb_pts_carrier_block .velo-location-list ul li .mp-openday-list-value{
	display: inline-block;
    width: 100%;
    padding: 0 0 6px 0;
}
#kb_pts_carrier_block .velo-location-list ul li .mp-openday-list-title {
    width: 100%;
    display: inline-block;
    padding: 0;
}
.delivery-option {
    display: inline-block;
    width:100%;
}
.velo-field-inline label {
    color: #2f2f2f;
    padding-right: 10px;
    font-size: 14px;
} 
img.velo-phone-icon {
    max-width: 14px !important;
    margin-right: 5px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    display: inline-block;
    vertical-align: middle;
} 
img.velo-distance-icon{
    margin-right: 10px;
    vertical-align: middle;
}
.velo_add_distance, .velo_add_number {
    margin-top: 5px;display: block;
}
.velo-store-locator {
        margin-top: 14px;
    display: inline-block;
    width: 100%;
}
.velo-popup .velo_add_distance{margin-bottom:5px;}

@media(max-width:1200px){
	.velo-location-list ul li .velo-directions-button, .velo-location-list ul li a.velo-directions-link{
		float: left;
	}
	.velo-location-list ul li .velo-directions-button{
		margin-right:5px;
	}
}
@media(max-width:992px)
{
	.velo-location-list {
		width: 40%;
	}
	.velo-store-map{width:60%;}
	.velo-store-filters{text-align:center;}
	#velo_address_search {
		width: 335px;
	}
	.velo-search-bar.velo-field-inline {
		display: block;
		margin-right: 20px;
		clear: both;
	}
	
}
@media(max-width:767px)
{
	.velo-location-list {
		width: 100%;
		margin-top:10px;
	}
	.velo-store-map{width:100%;}
	.velo-store-filters {
    margin-bottom: 10px;
	}
	#kb_pts_carrier_block .velo-location-list, #kb_pts_carrier_block .velo-store-map {
		width: 100% !important;
	}
	#kb_pts_carrier_block .store-selected, #kb_pts_carrier_block .velo-store-select-link{margin-right:5px;}
	.velo-location-list ul li .velo-directions-button {
		float: left;
		display: inline-block;
		clear: inherit !important;
	}
	
}
@media(max-width:640px)
{
	#velo_address_search {
		width: auto;
	}
	.velo-field-inline{margin-right:10px;}
	.velo-field-inline label {
		padding-right: 7px;
	}
	.velo-store-map{height:400px;}
}
@media(max-width:420px)
{
	.velo-field-inline label {
		padding-right: 7px;
		width: 100%;
		display: inline-block;
		text-align: left;
		margin-bottom:5px;
	}
	#velo_address_search {
		width: 100%;
	}
	.velo-field-inline select{
		    text-align: left;
		float: left;
		width: 100%;
	}
	.velo-search-bar.velo-field-inline{width:100%;}
	.velo-field-inline{    width: 49%;
    margin-right: 0;}
}

.velo-store-date-time-block {
    clear: both;
    /*height: 57px;*/
    margin: 0;
    padding-top: 15px;
}
.velo-store-date-time-block button {
    margin-left: 25px;
}

.velo-pickup-location-list {
    max-height: 350px;
    margin-bottom: 20px;
}
.velo-pickup-store-map {
        height: 350px;
}

.velo-store-select-link {
    /*float: right;*/
    /*margin-right: 10px;*/
    margin-left: 10px;
    display: block;
    background: #43b053;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 110px;
    text-align: center;
    border-radius: 2px;
    color: #fff !important;
    margin-top: 10px;
    position: relative;
    float: right;
}

.store-selected {
    background: #11711f;
    font-weight: bold;
}


/**/
.modal-content-loader{
    background: url("../../img/loader128.gif") no-repeat left top transparent;
    background-size:100% 100%;
    position:absolute;
    top:30%;
    left:40%;
    width:100px;
    height:100px;
}
.kb-modal-popup{
    display:none;
}

.kb-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    opacity: 0.7;
}

.kb-modal{
    position: absolute;
    top: -6%;
    left:6%;
    z-index: 99999;
    background-color: #fff;
    border: 1px solid #777;
    width:50%;
}

.kb-model-content-loader{
    
}

.kb-model-content-loader .kb-modal-loading-img{
    background:url('../../img/loader128.gif') center center no-repeat transparent;
    background-size:100% 100%;
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.kb-modal .kb-model-content{
    display:none;
}

.kb-modal-header, .kb-modal-content, .kb-modal-footer{
    padding:10px;
}

.kb-modal-header{
    background-color: #428BCA;
    color: #fff;
}

.kb-modal-header h1{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.kb-modal-header .kb-modal-close{
    float: right;
    margin-top: -15px;
    cursor:pointer;
}

.kb-modal-content{
    overflow-y: auto;
    max-height: 400px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.kb-modal-footer{
    
}
.kb-modal-body {
    padding: 10px;
    box-sizing: border-box;
	display: inline-block;
    width: 100%;
}
.velo-search-container input[type="text"] {
    background-color: #fff !important;
}

.kb-box-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
     display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.kb-box-modal.kb-modal-open{opacity:1;overflow: auto;}
.kb-modal-contents {
    /*width: 600px;*/
    width: 52%;
    margin: 8% auto 0;
    position: relative;
    background: #fff;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 1px #383636;
    transition:0.75s ease;
    webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.kb-modal-contents.kb-contentOpen{
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    /* transform: translate(0,0); */
	}
.kb-modal-backdrop {
    position: fixed;
    display:none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999; /* 22052018 */
    background-color: rgba(0,0,0,0.8);
	transition:0.75s ease;
}

.close-kb-modal {
    text-decoration: none !important;
    float: right;
    color: #2da9e4;
    font-size: 16px;
    text-shadow: 0 0 2px #e4e1e1;
    font-weight: 600;
    opacity: 0.8;
    position: absolute;
    right: 17px;
    top: 8px;
}
.close-kb-modal:hover{opacity:1}

/*supercheckout datetimepicker*/
.popupmodal-open {
    overflow: hidden;
}
.popupmodal-open .datetimepicker.datetimepicker-dropdown-bottom-right.dropdown-menu {
    position: absolute;
/*    bottom: 100px;*/
    top: 76% !important;
}    
.popupmodal-open .datetimepicker-dropdown-bottom-right:after {
    top: inherit;
    left: 7px;
    bottom: -6px;
	top:inherit;
    transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
} 
.popupmodal-open .datetimepicker-dropdown-bottom-right:before {
    bottom: -7px;
	top:inherit;
    left: 6px;
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}    



