{*
* NOTICE OF LICENSE
*
* This source file is subject to a trade license awarded by
* Garamo Online L.T.D.
*
* Any use, reproduction, modification or distribution
* of this source file without the written consent of
* Garamo Online L.T.D It Is prohibited.
*
*  @author    ReactionCode <info@reactioncode.com>
*  @copyright 2015-2021 Garamo Online L.T.D
*  @license   Commercial license
*}
<li>
    <a href="#rcga-tracking">
        <i class="icon-area-chart"></i> {l s='Tracking Status' mod='rc_pganalytics'}
        <span class="js-rcga-icon badge">
            <i class="{if $tracking_report}icon-check-circle{else}icon-times-circle{/if}"></i>
        </span>
    </a>
</li>