//price
.product-price{
  @include st2(color, $lp_price);
}

//reviews
.iqit-review-star{
  @include st2(color, $lp_ratings);
}

//labels
.product-flags {

  .product-flag{
    @include st2(font-size, rem($lp_label_font_size));
    @include st2(letter-spacing, rem($lp_label_font_spacing));
    @include st(font-style, $lp_label_font_style, '');
    @include st(font-weight, $lp_label_font_weight, '');
    @include st(text-transform, $lp_label_font_uppercase, '');
  }

  .discount, .on-sale{
    @include st2(background, $lp_sale_l_bg);
    @include st2(color, $lp_sale_l_txt);
  }

  .new {
    @include st2(background, $lp_new_l_bg);
    @include st2(color, $lp_new_l_txt);
  }

  .online-only, .pack{
    @include st2(background, $lp_online_l_bg);
    @include st2(color, $lp_online_l_txt);
  }

}

.discount {
  @include st2(background, $lp_sale_l_bg);
  @include st2(color, $lp_sale_l_txt);
}

.product-available{
  @include st2(background, $lp_intstock_l_bg);
  @include st2(color, $lp_intstock_l_txt);
}

.product-unavailable{
  @include st2(background, $lp_outstock_l_bg);
  @include st2(color, $lp_outstock_l_txt);
}

.product-unavailable-allow-oosp{
  @include st2(background, $lp_outstock_oosp_l_bg);
  @include st2(color, $lp_outstock_oosp_l_txt);
}


.alert-success{
  @include st2(background, $lp_alert_s_bg);
  @include st2(color, $lp_alert_s_txt);
  @include st2(border-color, $lp_alert_s_bg);
  a:link:not(.nav-link):not(.btn), a:visited:not(.nav-link):not(.btn){
    @include st2(color, $lp_alert_s_txt);
    @include st2(text-decoration, 'underline');
  }
}

.alert-info{
  @include st2(background, $lp_alert_i_bg);
  @include st2(color, $lp_alert_i_txt);
  @include st2(border-color, $lp_alert_i_bg);
  a:link:not(.nav-link):not(.btn), a:visited:not(.nav-link):not(.btn){
    @include st2(color, $lp_alert_i_txt);
    @include st2(text-decoration, 'underline');
  }
}


.alert-warning{
  @include st2(background, $lp_alert_w_bg);
  @include st2(color, $lp_alert_w_txt);
  @include st2(border-color, $lp_alert_w_bg);
  a:link:not(.nav-link):not(.btn), a:visited:not(.nav-link):not(.btn){
    @include st2(color, $lp_alert_w_txt);
    @include st2(text-decoration, 'underline');
  }
}

.alert-danger{
  @include st2(background, $lp_alert_d_bg);
  @include st2(color, $lp_alert_d_txt);
  @include st2(border-color, $lp_alert_d_bg);
  a:link:not(.nav-link):not(.btn), a:visited:not(.nav-link):not(.btn){
    @include st2(color, $lp_alert_d_txt);
    @include st2(text-decoration, 'underline');
  }
}

