.error_message {
    color: red !important;
    
}
.error_field {
    border: 1px solid red !important;
}
/*.kb_custom_field_type {
    display:none;
}*/
.kb_custom_field_form {
    display:none;
}

/* CSS for Tabs */
.kb_custom_tabs {
    width: 100%;
}

.kb_custom_tabs a {
    color: #555;
}

.kb_custom_tab {
    width: 33%;
}
.kb_custom_tab_last {
    width: 25%;
}
.kb_custom_panel {
    position: relative;
    border: solid 1px #d3d8db;
    background-color: #fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.kb_custom_tab i {
    padding-right: 5px; 
}
.kb_custom_tabs input[type='radio'] {
    display: none;
}
.kb_custom_tabs a {
    display: inline-block;
    padding: 15px 25px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 0px;
}
.kb_custom_tabs a:hover {
    cursor: pointer;
    color: #959595;
    text-decoration: none;
}
.kb_custom_tabs a.kb_active {
    background: #ed5a6a;
    color: #fff;
    box-shadow: 0px 0px 10px #ed5a6a;
}

.kb_custom_tabs a.kb_active::after {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ed5a6a;
    position: absolute;
    bottom: -10px;
    margin-left: -10px;
}

.kb_custom_tabs a.kb_active#kbcf_config_link::after {
    left: 16%;
}

.kb_custom_tabs a.kb_active#kbcf_redirect_url_link::after {
    left: 83%;
}

.kb_custom_tabs a.kb_active#kbcf_duplicate_url_link::after {
    left: 50%;
}
.kb_custom_tabs a.kb_active#kbcf_404_url_link::after {
    left: 85%;
}
/* CSS for Tabs */