.iqitvideos-block{
  > .iqitvideo{  max-width: 100%;}
  > .iqitvideo > .iframe{width: 100%; border: none;}
}

#iqit-threesixty{
  text-align: center;
  cursor: grab;
  cursor: -webkit-grab;
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
    pointer-events: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    &:hover{
      transform: scale(1.5);
    }
  }

  .threesixty--grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}

.video-thumb-container{
  width: 100px;
  > .iframe{width: 100%; border: none;}
}