/*
* Custom code goes here.
* A template should always ship with an empty custom.css
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans&display=swap');

h1{
font-family: 'Amatic SC', cursive;
font-style: normal;
font-weight: bold;
font-size: 75px;
line-height: 81px;
letter-spacing: 0.15em;
}
h2{
color: #121212;
font-family: 'Amatic SC', cursive;
font-style: normal;
font-weight: bold;
font-size: 52px;
line-height: 56px;
}
h3 {
font-family: 'Amatic SC', cursive;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 39px; 
letter-spacing: 0.15em;
}
.text-small p {
font-size: 1rem;
line-height: 26px;
}
.anteTitle {
padding: 0;
margin: 0;
font-size: 20px;
}
/**********PRODUCTS**********/

    .product-miniature-grid .product-functional-buttons-bottom { 
    bottom: 6.5rem; 
}

.product-functional-buttons-links .btn-iqitcompare-add, .product-functional-buttons-links .btn-iqitwishlist-add{
    display: none!important;
} 

.product-miniature-grid .product-availability { 
    top: 3rem;
}
.slick-next, .slick-prev {

padding: 6px 12px!important;
border-radius: 50%;
}
.slick-arrow {
background: #f3f3f3;
color: #121212;
}
.product-miniature-default li.product-flag:first-child {
margin-top: 50px;
margin-left: 0px;
}
.regular-price {
color: #fa0000 !important;
}
.product-miniature-grid .product-title { 
margin-top: 0px; 
}
.product-title a{
color: #fff!important;
}
.product-miniature-grid .product-title {
position: absolute;
left: 0;
right: 0;
width: 70%;
margin: -60px auto;
background: #000;
padding-top: 9px;
}

.cbp-menu-column-inner .product-title {
position: absolute;
left: 0;
right: 0;
width: 45%;
margin: -54px auto;
background: #000;
padding-top: 9px;
padding-bottom: 9px;
}
.cbp-menu-column-inner .product-title a:hover {
    color: #f3f3f3!important;
    }


.products-grid .product-miniature-default .iqitreviews-simple, .products-grid .product-miniature-default .product-brand, .products-grid .product-miniature-default .product-reference, .products-grid .product-miniature-default .product-title {
padding-bottom: 9px;
}
.elementor-column-gap-default .elementor-element-populated {
padding: 0;
}
.col-product-info{
border-left: 1px solid #f3f3f3;
}
#content-wrapper .product-info-row{
max-width: 100%;
}
.product-info-row {
margin-top: 3rem;
border-bottom: 1px solid #f3f3f3;
}
.product_header_container .h1 {    
font-family: 'Josefin Sans', sans-serif!important;
color: #C4C4C4!important;
font-size: 1rem!important;
font-weight: 500!important;
margin: 0.8em!important;
}
.product_header_container p{
font-family: 'Amatic SC', cursive;
font-size: 1.8rem;
line-height: 35px;
font-style: normal;
font-weight: bold;
padding-bottom: 10px;
letter-spacing: 0.15em;
}
.discount {
background: #f3f3f3;
color: #121212;
}

.cart-item .discount {
display:none;
}
.product-accessories .section-title:after {
left: 50%!important;
}
.product-accessories .section-title {
font-style: normal!important;
font-weight: bold!important;
font-size: 36px!important;
line-height: 56px!important;
text-align: center!important;
letter-spacing: 0.15em!important;
}
body#checkout section.checkout-step.-current .step-title {
padding: 2rem 2rem 2rem;
background: #121212;
color: #fff;
}

#content-wrapper .product_header_container .page-title span {
    margin: 0;
    width: 100%;
    font-size: 2rem; 
}

#content-wrapper .product_header_container .page-title {
    margin-left: 0!important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    color: #121212;
    border-bottom: solid 3px #121212;
}

.cart-buttons .btn-secondary, .cart-buttons .btn-secondary.disabled, .cart-buttons .btn-secondary:disabled {
    background: #fff;
    color: #333;
    border: 1px solid #121212;
}

#blockcart img{
width: 20px;
}
#header-search-btn-drop img{
width: 22px;
}
#header-user-btn img{
	width: 27px;
}
.icon-heart{
	font-size: 23px
}
.heart #iqitwishlist-nb{
	text-align: center;
    line-height: 15px;
    border-radius: 30px;
    min-width: 16px;
    height: 16px;
    font-size: .7rem;
    position: absolute;
    top: 0;
    right: 51px;
    padding: 1px 5px;
    background: #ff0000;
    color: #FFF;
    margin: 7px 6px 0px -7px;
    font-style: italic;
}
}
#blockcart-content .cart-title hr {
    border-top:0;
}

#blockcart-content .cart-title:after {
    content: url(/img/cms/svg/Line-border-cart.svg);
    position: relative;
    bottom: 6px;
    display: inline-block;
    height: 1px;
    border-bottom: 0;
    width: 100%;
    }

    #blockcart-content .cart-subtotals {
    border-top: 0;
}

#blockcart-content .cart-subtotals:before {
     content: url(/img/cms/svg/Line-border-cart.svg);
    position: relative;
    bottom: 6px;
    display: inline-block;
    height: 1px;
    border-bottom: 0;
    width: 100%;
    }
#product .product-reference{
    display: none;
}

.product-cover .product-flags { 
    display: none;
}
 
 #content-wrapper .crossselling-products .section-title {
    font-family: 'Amatic SC';
    color: #000; 
    font-size: 1.7rem; 
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 1rem;
}
 #content-wrapper .crossselling-products .section-title:after {
    bottom: -8.5px; 
    width: 4%; 
    border-bottom: solid 2px #000;
    left: 15px; 
}
/**********HEADER**********/
#header .container {
max-width: 1400px; 
padding-left: 30px;
padding-right: 30px;
}
.logo{
width: 50px; 
}
.cbp-category-link-w, .cbp-hrmenu .cbp-hrsub { 
line-height: 26px;
color: #121212;
font-weight: 600;
}
.header-top {
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.header-landing .elementor-iqit-banner-title{
text-shadow: 2px 1px 1px #1c1c1c;
}
.header-top .header-btn-w .header-btn>.icon {
font-size: 1.5rem;
}
.menu-element-id-9 ul{
	text-align: center;
}	
.menu-element-id-9 a {
	text-align: center;
    color: #fff!important;
    background-color: #000;
    padding:.6rem; 
    padding-left: 1rem!important;
    padding-left: 1rem!important;
    font-size: 0.9rem;
    border: 1px solid #000;
    transition: 0.6s;
    line-height: 20px;
}
.cbp-hrmenu .menu-element-id-9 a:hover { 
    background-color:transparent;
    color: #000!important;
}
.cbp-hrmenu .menu-element-id-9 a:hover span { 
    border-bottom: 1px solid #000;
}
.cbp-hrmenu .cbp-hrsub-inner .cbp-column-title, .cbp-hrmenu .cbp-hrsub-inner a.cbp-column-title:link {
font-family: 'Amatic SC', cursive;
font-size: 25px;
line-height: 40px;
font-weight: bold;
}
.cbp-horizontal>ul>li>a, .cbp-horizontal .cbp-tab-title {
font-size: 0.8rem;
color: #121212;
font-style: normal;
font-weight: 600;
text-transform: uppercase;
line-height: 5em;
}
.cbp-horizontal > li {
float: left;
position: relative;
}
.cbp-horizontal>ul>li>a:hover::after {
border-bottom: 1px solid #121212;
bottom: 20px;
content: " ";
left: 0;
position: absolute;
right: 0;
width: 15px;
margin: 0 auto;
}
.cbp-horizontal>ul>li>a .cbp-tab-title:active::before {
border-bottom: 1px solid #121212;
bottom: 20px;
content: " ";
left: 0;
position: absolute;
right: 0;
width: 15px;
margin: 0 auto;
}
#desktop-header-container .col-header-right{
padding-bottom: 8px;
}

.cbp-hrmenu .cbp-hrsub .product-price{
    display: none;
}
.world-icon{
color: #fff;
padding-top: 0px;
padding-right: 4px;
font-size: 18px;
}
#iqithtmlandbanners-block-1 .block-title, #iqithtmlandbanners-block-8 .block-title, #iqithtmlandbanners-block-13 .block-title{
display: none;
}
.page-header { 
display: none !important;
}
.title-movil{
font-size: 25px;
line-height: 30px;}
#header-user-btn a{
text-transform: uppercase;
font-size: 11px;
font-weight: 600;
}
.menu-element-id-3, .menu-element-id-5, .menu-element-id-4, .menu-element-id-8, .menu-element-id-10 {
border-left:1px solid #f3f3f3;
}
.menu-element-id-6, .menu-element-id-7 {
padding: 0;
padding-top: 57px!important;
}
.cbp-hrsub-inner .iqitmegamenu-submenu-container>.row:last-child {
margin-bottom: 0!important;
}
.cbp-hrmenu .cbp-menu-column {
margin-top: 0;  
padding-top: 10px;
padding-bottom: 10px;
}
.cbp-hrmenu .cbp-hrsub-inner {
padding: 0px 30px;
}
.cbp-hrmenu .cbp-categories-row>div { 
margin-left: 42px;
}
#language_selector .lang-flag { 
display: none;
}
#language_selector{
padding-right: 20px;
border-right: 1px solid #f3f3f3;
margin-right: 20px;
font-family: 'Josefin Sans', sans-serif;
text-transform: uppercase;
font-weight: 900;
font-size: 10px;
padding-top: 6px;
}
#header .header-btn-w {
padding: 0px 1rem;
}
#header .header-btn-w .header-btn { 
display: flex; 
}
#header-search-btn span.title, #cart-toogle span.title{
display: none!important;
}
/*.cbp-hrmenu .cbp-links li {
padding-bottom: 6px;
}*/
#desktop-header-container {
position: static;
}
#mobile-header .mobile-buttons-bar {
background: #f3f3f3;
padding-top: 10px;
padding-bottom: 10px;
}
#mobile-header { 
border: 0;
}
.col-mobile-menu-push #_mobile_iqitmegamenu-mobile {
width: 100%;
}
.closeMenuMobile {
display: grid;
}
.menu-close .close{
font-size: 0.8rem;
font-weight: 200;
opacity: 1!important; 
} 
.menu-close .close span {
font-size: 4rem;
float: right;
}
#iqitmegamenu-mobile {
background: rgb(0 0 0);
color: #dcd3e0;
}
.slick-next, .slick-prev { 
padding: 3px 13px; 
}
.ps-shoppingcart .cart-products-count-btn {
right: -13px;
top: 7px;
font-size: 0.7rem;
background: #ff0000;
color: #FFF;
}
.cart-products-count-btn {
    background: transparent;
    color: #121212;
}
/*********BLOG**********/
#blog_list_1-7 .block_bas h3 a, #blog_list_1-7 .block_bas .h3title a {
    color: #121212;
    font-style: normal;
    font-weight: bold;
}
#blog_list_1-7 .blog-grid .block_bas {
    text-align: center;
}
#blog_list_1-7 .blog-grid .block_bas:hover, #blog_list_1-7 .blog-grid .block_bas a:hover {
    background: transparent;
}
.date_blog-cat {
    font-size: 12px;
    font-weight: 400;
    color: #888;
    font-family: Josefin Sans,sans-serif;
}
 .prestablog .title{
    display: none;
 }
 #blog_list_1-7 .prestablog_more {
    text-align: center;
}
#blog_list_1-7 .prestablog_more {
    display: block;
    background-color: transparent;
}
#blog_list_1-7 .prestablog_more a {
    color: #121212;
    padding: 0;
    height: 50px;
}
#blog_list_1-7 .prestablog_more .material-icons  {
   display: none;
}  
#blog_list_1-7 a.blog_link:hover, #blog_list_1-7 .comments:hover, #blog_list_1-7 a.blog_link:hover::before, #blog_list_1-7 .comments:hover::before {
    background-color: transparent;
    color: #121212;
    font-weight: bold;
}
#blog_list_1-7 a.blog_link:hover, #blog_list_1-7 .comments:hover, #blog_list_1-7 a.blog_link:hover::before, #blog_list_1-7 .comments:hover::before {
    color: #121212;
}
time.date::before, .info_blog::before {
    border:0;
}
#prestablogfront, .prestablogExtra {
   border:0;
}
#prestablogfront h1 {
 margin-bottom: -55px;
 margin-top: 0;
 font-size: 2rem;
 padding-bottom: 5rem;
    }
#prestablogfront h1:after {
     content: url(/img/cms/iconos/Line_peq_blog_amano.png);
    position: relative;
    bottom: 6px;
    display: inline-block;
    height: 1px;
    border-bottom: 0;
    width: 100%;
    }

  #prestablogfront h2  {
    font-size: 1.375rem;
     font-family: 'Josefin Sans';
     text-align: left;  
     padding: 0;   
     border: 0;    
     margin: 0; 
     line-height: 40px;
     } 
 
.text-hero-blog{   
position: absolute;
    bottom: 1.5em;
    left: 3em;
    color: #fff;
 }
 #module-prestablog-blog .text-hero-blog:after {
    content: url(/img/cms/iconos/Line-white.png);
    position: relative;
    bottom: 40px;
    display: inline-block;
    width: 100%;
    }
 #module-prestablog-blog .title-hero-blog {
display:none;
 }
 #prestablogfront .info_blog{
display:none;
 }
 #prestablogfront time.date{
margin-bottom: 3rem;
 }
 .back-link{
    position: relative;
    display: block;
    line-height: 2;
    font-size: 10px;
    color: #121212;
    font-family: 'Josefin Sans',sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 1.5rem;
}
.back-link a:hover{
    font-weight: bold;
    color: #888!important;
}
.back-link .fa{
padding-right: 5px;
}
#prestablog_bloc_search .btn.button-search {
background: transparent;
}
#prestablog_bloc_search {
margin-bottom: 1rem;
}
.block-categories {
margin-top: 1rem;
}
#module-prestablog-blog h1 {
font-size: 36px;
line-height: 39px; 
letter-spacing: 0.15em;
padding-left: 1rem;
}
.info_blog a, .date_blog-cat, ul#blog_list_1-7 li .date_blog-cat a {
    color: #121212;
    font-size: 1rem;
}
.relatedposts:after {
content: url(/img/cms/iconos/Line_peq_blog_amano.png);
position: relative;
bottom: 0;
display: inline-block;
height: 1px;
border-bottom: 0;
width: 100%;
    }
 .page-cms-14 .elementor-iqit-banner-title:after {
content: url(/img/cms/iconos/Line-white.png);
position: relative;
bottom: 40px;
display: inline-block;
height: 1px;
border-bottom: 0;
width: 100%;
    }
.prestablog_more a:after {
border-bottom: 1px solid #121212;
    bottom: 40px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    width: 15px;
    margin: 0 auto;
    }

.info_blog a, .date_blog-cat, ul#blog_list_1-7 li .date_blog-cat a {
    color: #888;
    font-size: 0.9rem;
}
.prestablogtitle {
    font-family: 'Amatic SC', cursive;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.15em;
    text-align: center;
    border-bottom: 0; 
}
#prestablog-comments{
    border:none;
}
.soc-twitter, .soc-facebook, .soc-linkedin, .soc-pinterest{
        width: 15%!important;
}
.soc-buttons{
    font-size: 11px!important;
}
.soc-buttons li{
float: right;
}
.soc-buttons li a{
    background-color: transparent!important;
    border:1px solid ;
}
.soc-buttons li a .soc-text {
    color: #121212;
}
.soc-buttons li a .soc-icon svg circle, .soc-buttons li a .soc-icon svg path {
    fill: #121212;
}
#blog_list_1-7 .comments { 
    display: none;
}
div.prestablog_pagination {
    text-align: center;
}
/*****RESPONSIVE*********/
@media (min-width: 1920px) and (max-width: 2560px)  {
.header-top .container-fluid, #desktop-header .container-fluid, #footer .container-fluid, #wrapper .container-fluid{
    padding: 0 3%
  }
.sect_video_text {
margin: 12rem;
padding: 64px;
}
.sect_video_story_text{
margin: 22rem 15rem!important;
width: 25%!important;
}
.cont-country{
margin: 0 0px 0 120px;
}
} 
@media (max-width: 991px){
}
@media(max-width: 767px) { 
.t_footer h3{
font-size: 20px;
border-bottom: 1px solid;
width: 30px;
margin-bottom: 15px;
}
.link-footer, .footer-info {
padding:0 !important;
}
.footer-info {
text-align: center;
}
.slick-next, .slick-prev {
top: 50%; 
}
.logo {
margin: 0;
}
.nav-dir-horizontal{
left: 50%!important;
}
.sect_video_text {
position: relative!important;
z-index: 5;
margin: 0!important;
}
.sect_video {
position: relative!important;
left: 0!important;
}
.sect_video_story_text{
position: relative!important;
margin: 0!important;
}
.sect_video_story {
position: relative!important;
left: 0!important;
}
.modal-close .close {
top: 4px!important;
right: 3px!important;
width: 8%!important;
padding: 0px 15px 3px 15px!important;
font-size: 30px;
}
#language_selector {
padding: 0;  
border:0;  
margin: 0;  
}
.ps-shoppingcart .cart-products-count-btn {
    right: 10px;
}
.Patterns-logo img{
    width: 50%!important; 
    }
.Patterns-logo {
 bottom: 0.5em!important;
 left: 1.5em!important;
}
.text-hero-blog {
    position: absolute;
    bottom: 0em;
    left: 2em;
    color: #fff;
}
#footer .block-toggle > .block-title span::after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f107";
    margin-left: 10px;
}

#footer .block-toggle._toggled .block-title span::after {
    content: "\f106";
}
#footer .block-title {
    font-size: 1.5rem!important; 
}

#footer .block-content ul { 
    margin-left: 1rem;
}
#lgcookieslaw_banner .lgcookieslaw_message {
    width: 100%!important;
}
.lgcookieslaw_button_container .btn-cok{
    margin-left: 0!important;
    margin-top: 1rem;
}
}
/****************************/
.section_two_icon_text {
font-size: 9px;
line-height: 22px;
}
/******NUESTROS HILADOS*******/
.sec_nuestros_hilados{
background-image: url("/img/cms/02-origin-nuestros-hilados-home-amano-yarns.jpg");
background-position: center center;
background-size: cover;
padding: 330px 30px 20px 16px;
}
.hilados_luxury, .hilados_origin, .hilados_ourwool, .hilados_special_blends, .hilados_spring_summer  {
height: 100%;
display: block;
}
.hilados_luxury:hover , .hilados_origin:hover, .hilados_ourwool:hover , .hilados_special_blends:hover , .hilados_spring_summer:hover  {
background-color: #000;
color:#fff; 
}
.hilados_luxury:hover a, .hilados_origin:hover a , .hilados_origin:hover a, .hilados_ourwool:hover a, .hilados_special_blends:hover a, .hilados_spring_summer:hover a {
color:#fff!important;  
}
/*********CATEGORY************/
.category-sub-menu > [data-depth="0"]  {
border: 1px solid #f3f3f3;
padding: 14px;
border-bottom: 0;
border-left:0;
}
.category-top-menu  {
border-bottom: 1px solid #f3f3f3;
}
.facet-title{
font-family: 'Josefin Sans', sans-serif;
font-size: 14px!important;
color: #777!important;
font-weight: 400!important;
}
.block-categories .collapse-icons { 
padding: 15px;
}
.block-links ul>li a {
line-height: 26px;
}
#wrapper .block-title {
color: #121212; 
font-size: 2rem;
letter-spacing: 3px;
}
#wrapper .block-title:after {
content: url(/img/cms/iconos/Line_peq_blog_amano.png);
position: relative;
bottom: 12px;
display: block;
height: 1px;
border-bottom: 0;
width: 100%;
}
/********CHECKOUT*****/
.my-account-page-content {
background-color: #F3F3F3;
padding: 2rem;
}
.my-account-page-content-wrapper .my-account-side-links>a {
border-bottom: 0;
}
.page-customer-account #content {
border: 0;  
padding: 0;
}
.my-account-page-content-wrapper {
border: 0; 
padding: 0;
}
.my-account-page-content-wrapper .my-account-side-links {
border-right: 0; 
padding-top: 5rem;
}
 
.my-account-side-links .link-item{
text-transform: uppercase;
color: #121212;
font-family: Josefin Sans;
font-style: normal;
font-weight: 600;
font-size: 13px;
letter-spacing: 0.05em;
}
.page-addresses .address .address-body {
background-color: #fff;
}
.page-addresses .address { 
border: 0;
}
.table-bordered, .table-bordered td, .table-bordered th {
border: 0;
background-color: #fff;
}
.table-labeled .label {
font-size: 1rem;
color: #FA0000;
background-color: transparent!important;
font-weight: 600;
}
.my-account-page-content h2{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 39px;
letter-spacing: 0.15em;
}
.my-account-page-content section{
background: #fff;
padding: 2rem;
border: 0;
}
.my-account-side-links a:active {
border-bottom: 2px solid #121212!important;
padding-bottom: 5px;
}
.form-footer {
background-color: #fff;
padding-bottom: 1rem;
}
.sect_video_text{
position: absolute;
z-index: 5;
margin: 9rem;
}
.sect_video {
position: relative;
left: 26%;
}
.sect_video_story_text{
position: absolute;
z-index: 5;
margin: 12rem 8rem;
}
.sect_video_story {
position: relative;
left: 20%;
width: 80%!important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #121212;
background-color: transparent;
}
.nav-pills a {
color: #888;;
}
.country a{
color:#121212!important;
}
.country a:hover{ 
border-bottom: 2px solid #121212;
font-weight: bold;
}
.btn-modal{
background: transparent;
color: #121212;
border: 1px solid #121212;
font-weight: bold;
text-transform: uppercase;
font-size: 10px;
padding: 0.8rem 1.5rem 0.8rem 1.5rem;
float: right;
}
.btn-modal:hover{
background: #121212;
color: #fff;
border: 1px solid #fff;
}
.modal-dialog {
max-width: 800px;
}
.modal-body {
padding: 0;
}
.modal-close .close {
position: absolute;
top: 0px;
z-index: 99;
display: flex;
align-items: center;
justify-content: center;
right: 0;
color: #888;
float: right;
text-align: center;
opacity: 1;
transition: opacity 0.15s ease 0s;
background: #fff;
width: 8%;
padding: 0px 0px 5px 0px;
}

#gallery img:hover {
-webkit-filter: opacity(.5);
        filter: opacity(.5);
cursor: pointer;}

.gallery-patterns img:hover {
-webkit-filter: opacity(.5);
        filter: opacity(.5);
cursor: pointer;}

.patterns-menu img:hover {
-webkit-filter: opacity(.5);
        filter: opacity(.5);
cursor: pointer;}
.our-patterns img:hover {
-webkit-filter: opacity(.5);
        filter: opacity(.5);
cursor: pointer;}
.Patterns-logo{
position: absolute;
bottom: 1em;
left: 2em;
}
.Patterns-logo img{
    width: 75%;
    -webkit-filter: opacity(1)!important;
            filter: opacity(1)!important; 
    }
.Patterns-logo img:hover {
-webkit-filter: opacity(.8)!important;
        filter: opacity(.8)!important;
cursor: pointer;}
.Patterns-logo-home img{
    width: 75%;
    -webkit-filter: opacity(1)!important;
            filter: opacity(1)!important; 
    }
.Patterns-logo-home {
    position: absolute;
    bottom: 2em;
    left: 1em;
}
.Patterns-logo-home img:hover {
-webkit-filter: opacity(.8)!important;
        filter: opacity(.8)!important;
cursor: pointer;}
.title-info-patherns {
    font-family: 'Amatic SC',cursive;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: .15em;
    font-weight: 700;
}
/***********STORE LOCATOR***********/
.velo-search-container {
max-width: 100%;
}
.velo-pickup-store-map {
height: 500px;
}
.velo-store-filters {
display: none;
}
.velo-location-list {
background: #fff;
}
.card {
border: 0;
}
.velo-location-list ul li {
border-radius: 0;
border: 0;
border-bottom: 1px solid #f3f3f3;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
background-color: #212529;
}
.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:active
{
background-color: #212529;
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
background-color: #212529;
background-color: #212529;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
width: 3px;
}
#kb-store-image .img-thumbnail {
padding:0; 
background-color: #fff;
border:0;
border-radius: 0;
}
.velo-directions-link
{
display: none!important;
}
.velo-location-list ul li .velo-directions-button {
display: block;
background: #121212;
}
.velo-location-list ul li .velo-directions-button:hover {
color:#121212;
background: #fff;
border:1px solid #121212;
}
.header-store-locator{
padding: 45px;
border-bottom: 1px solid #f3f3f3;
}
.form-yarns label.required:after {
color: red;
content: "*";
font-size: 25px;
line-height: 0;
position: relative;
left: 11px;
top: 6px;
}
.form-yarns input.required:after {
color: red;
content: "*";
font-size: 25px;
line-height: 0;
position: relative;
left: 11px;
top: 6px;
}
/*************CONTENT GENERAL**************/
.bg-colum {
 background-color: #8cafa8;
}
/*************FOOTER**************/
#iqitcookielaw {
position: fixed;
bottom: 0rem;
left: 0rem;
}
.btn-cok{
padding: 14px;
border: 1px solid #fff;
background: transparent;
font-weight: 700;
color: #fff;}

.btn-cok:hover{
background: #fff;
color: #121212;
border: 1px solid;
}
.lgcookieslaw_button_container .btn-cok{
padding: 1rem!important;
border: 1px solid #fff;
background: transparent;
font-weight: 700;
color: #fff;}
.lgcookieslaw_button_container .btn-cok:hover{
background: #fff;
color: #000!important;
}
.lgcookieslaw_button_container a{
    text-align: center;
    margin-left: 0;
}

#lgcookieslaw-link .link-item img{
    display: none;
}
#lgcookieslaw_banner .container{
    padding-left: 5%!important;
    padding-right: 5%!important;
}
#lgcookieslaw_banner .lgcookieslaw_message {
    width: 70%; 
    margin-right: 2rem;
}

.lgcookieslaw_banner .lgcookieslaw_btn {
    border: 2px solid #fff!important; 
    background: #fff!important; 
    color: #000!important;
}
.lgcookieslaw_banner .lgcookieslaw_btn:hover {
    border-color: #fff!important;
    background: transparent!important; 
    color: #fff!important;
}
#lgcookieslaw_accept {
    text-transform: capitalize;
    border: 2px solid #000;
}
#iqitcookielaw-read{
padding: 14px;
border: 0;
background: transparent;
}
#iqitcookielaw-read:hover{
font-weight: bold;
}
#iqitcookielaw-read:hover::after {
border-bottom: 1px solid #fff;
bottom: 13px;
content: " ";
left: 0;
position: absolute;
right: 0;
width: 15px;
margin: 0 auto;
font-weight: bold;
}
.t_newsle{
font-size: 11px;
}
.btn_newsletter{
padding: 10px 25px;
background: transparent;
border: 1px solid#fff;
font-size: 12px;
}
.btn_newsletter:hover{
color: #121212!important;
background-color: #fff;
border-color: #fff;
}
.btn_contact{
padding: 10px 30px !important;
background: transparent;
border: 1px solid #121212;
font-size: 12px !important;
text-transform: uppercase;
color: #121212;
}
.btn_contact:hover{
color: #fff!important;
background-color: #121212;
border-color: #fff;
}
.form-yarns .form-control{
border: 0;
border-bottom: 1px solid #f3f3f3;
padding: 0 1rem;
}
.form-yarns .lbel {
color: #777;
font-size: 12px;
margin-bottom: 0px;
padding-left: 14px;
}
.form-yarns label {
color: #888;
padding-left: 14px;
font-size: 14px;
}
.form-yarns span{
color: red;
font-size: 16px;
padding-left: 4px;
}
#footer .ps-emailsubscription-block .newsletter-input-group{
background-color: transparent!important;
border: none!important;
border-bottom: 1px solid;
}
#footer .ps-emailsubscription-block .newsletter-input-group .input-subscription {
color: #c9c9c9;
border-bottom: 1px solid;
font-size: 16px;
}
.select_newsletter_amano select{
font-family: 'Josefin Sans', sans-serif;
background: transparent;
border: 0;
border-bottom: 1px solid ;
color: #c9c9c9;
margin-top: 10px;
font-size: 16px;
}
.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
color: #88888854!important;
font-size: 14px;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #88888854!important;
font-size: 14px;
opacity: 1 ;/* esto es porque Firefox le reduce la opacidad por defecto */
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #88888854!important;
font-size: 14px;
opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #88888854!important;
font-size: 14px;
}
.input-subscription::-webkit-input-placeholder { /* WebKit, Blink, Edge */
color: #c9c9c9!important;
}
.input-subscription:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #c9c9c9!important;
opacity: 1 ;/* esto es porque Firefox le reduce la opacidad por defecto */
}
.input-subscription::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #c9c9c9!important;
opacity:  1;
}
.input-subscription:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #c9c9c9!important;
}
#footer .block-title {
font-size: 2rem;
letter-spacing: 0.15em;
margin-bottom: 0;}
#footer .block-title:after {
display: none;
}
.block-links ul>li a:before {
display: none;
}
#footer-container-main a {
font-size: 16px;
padding-left: 0;
}
#iqithtmlandbanners-block-6 .block-title{
display:none;
}
#footer .block-toggle>.rte-content {
opacity: 1;
visibility: visible;
height: auto;
}
.footer-info .logo{
width: 60px;
}
.m-facebook {
width: 15px;
}
.m-instagram{
width: 22px;
}
.m-youtube{
width: 68px;
}
/*********** FORMULARIO ETS_CFULTIMATE **********/
.wpcfu .number_select, .l-reclam h3, #wpcfu-f3-o1 h3, #wpcfu-f5-o1 h3{
    display: none;
}
.wpcfu .form-control:not(.ets_cfu-file):not(.ets_cfu-select) {
    height: 30px;
}
.ets_cfu_form-control.ets_cfu-submit { 
    padding: 10px 20px; 
}
.ets_cfu_input_acceptance label{
    display: flex;
}
.politicas .wpcfu-list-item { 
    margin: 0px 15px 0px 15px;
}
.text-small{
    font-size: 12px;
}
#v-pills-tabContent .fade {
    background: transparent;
}
.fade { 
    background: #0154a661;
}
.wpcfu h3{
    display: none;
}
span.ets_cfu_span {
    margin-bottom: 0;
}
.wpcfu .form-control {
    border: 0;
    border-bottom: solid 1px #e3e3e3;
}
.wpcfu textarea {
    border: solid 1px #e3e3e3!important;
}
.ets_cfu_box {
    align-items: center;
}
.wpcfu .ets_cfu_input {
    margin-bottom: 36px;
}
.btn-trans-amano {
color: #121212;
font-size: 13px;
font-family: Josefin Sans, Sans-serif;
font-weight: 600;
background-color: transparent;
border:1px solid #121212;
padding: 10px 25px 10px 25px;
}
.btn-trans-amano:hover {
color: #fff;
background-color: #121212;
}
.form-control-select, select {
    background-image: none;
}
/******POP UP WELCOME *******/
#iqitpopup .iqitpopup-newsletter-form .button-medium {
    border: 1px solid #fff;
}
#iqitpopup .iqitpopup-newsletter-form .button-medium:hover  {
    border: 1px solid rgba(255,255,255,0.9);
}
#iqitpopup .iqitpopup-newsletter-form .btn{
    color: #fff; 
    padding: .3rem 2rem;
    font-weight: bold;
}
#iqitpopup .iqitpopup-newsletter-form .btn:hover {
    color: rgba(255,255,255,0.9);
 }
#iqitpopup .iqitpopup-content {
    padding: 2.5rem 1.5rem;
}
#iqitpopup .iqitpopup-close {
    top: 0;
    background-color: transparent;
}
#iqitpopup .iqit-close-checkbox {
    display: none;
}
#iqitpopup .iqitpopup-newsletter-form {
    bottom: 10px;
}
#iqitpopup .cross:before {
    font-size: 24px;
}
#iqitpopup .iqit-close-popup {
    top: 5px;
    right: 5px;
}

/********** SLIDER PATTERNS HOME **********/
#patternsHome_En .carousel-control-next, #patternsHome_En .carousel-control-prev, #patternsHome_Es .carousel-control-next, #patternsHome_Es .carousel-control-prev {
    width: 5%;
    opacity: 1;
}

#patternsHome_En .carousel-control-prev-icon, #patternsHome_Es .carousel-control-prev-icon,
#patternsHome_En .carousel-control-next-icon, #patternsHome_Es .carousel-control-next-icon {
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

#patternsHome_En .carousel-control-prev-icon:after, #patternsHome_Es .carousel-control-prev-icon:after
{
 content: '<';
 font-size: 35px;
 color: #fff;
 background: #121212;
 padding: 2px;
}

#patternsHome_En .carousel-control-next-icon:after, #patternsHome_Es .carousel-control-next-icon:after
{
 content: '>';
 font-size: 35px;
 color: #fff;
 background: #121212;
 padding: 2px;
}
/*--------------------*/
 
#pol-cookies .table-bordered, #pol-cookies .table-bordered td, #pol-cookies .table-bordered th {
    border: 1px solid #dee2e6;
}

html:lang(en) #header-user-btn, html:lang(en) .col-mobile-btn-account,.heart #iqitwishlist-nb {display:none;}

.fa-heart-o:before { color: #000;}
.title-check {display: none;}
.subt-check {
font-size: 1rem!important;
font-style: normal;
}
 

 
