/**
* FMM Custom Fields
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
*
*  @author    FME Modules
*  @copyright 2018 fmemodules.com All right reserved
*  @license   http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
*  @category  FMM Modules
*  @package   Customfields
*/
.accordion {
    background: white none repeat scroll 0 0;
    box-shadow: none !important;
    margin: 0 auto !important;
    max-width: 100%;
    padding: 0 !important;
}
.accordion-header {
    border-bottom: 1px solid #dde0e7;
    color: #2a313a;
    cursor: pointer;
    font-weight: 700;
    padding: 1.5rem;
}
.accordion-header:hover {
    background: #f6f7f9 none repeat scroll 0 0;
}
.accordion-content {
    color: #4a5666;
    display: none;
    padding: 1.5rem;
}
.accordion-header::before {
    content: "";
    height: 0.75rem;
    margin-right: 0.75rem;
    vertical-align: middle;
    width: 0.75rem;
}
.active.accordion-header::before {
    content: "»";
}
.extension_error {
    display: none;
    margin-top: 10px;
}
.sending_loader {
    background: #fff url("../../views/img/spinner.gif") no-repeat scroll center center;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}
