.lgcookieslaw_banner {
    background-color: rgba(18,18,18,0.7);
    border-color: 18,18,18,0.7;
    border-left: 1px solid 18,18,18,0.7;
    border-right: 1px solid 18,18,18,0.7;
    color: #FFFFFF !important;
    -webkit-box-shadow: 0px 1px 5px 0px #fff;
    -moz-box-shadow:    0px 1px 5px 0px #fff;
    box-shadow:         0px 1px 5px 0px #fff;
    
    bottom:0;
    
}
#lgcookieslaw_banner .lgcookieslaw_message a {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}
.lgcookieslaw-modal-body {
    border-top: 4px solid #000;
}
.lgcookieslaw_banner .lgcookieslaw_btn {
    border-color: #000 !important;
    background: #000 !important;
    color: #FFFFFF !important;
}
.lgcookieslaw_banner a:hover.lgcookieslaw_btn {
    border-color: #;
    background: #;
    color: # !important;
}
/* New module*/

.lgcookieslaw-section-description ul li:before {
    color: #000!important;
}
input:checked + .lgcookieslaw_slider, .lgcookieslaw_slider_checked {
    background-color: #000!important;
}
input:focus + .lgcookieslaw_slider, .lgcookieslaw_slider_checked {
    box-shadow: 0 0 1px #000!important;
}
#lgcookieslaw-save {
    background: #000!important;
}
.lgcookieslaw_message_floating {
    border: 1px solid #000;
}
.lgcookieslaw_message_floating .lgcookieslaw_customize_cookies {
    border: 1px solid #FFFFFF;
}

