
		#iqitpopup{ width: 550px; height: 350px; }

		#iqitpopup {
		background-color: #121212;
		
		background-repeat: no-repeat !important;
	}
		#iqitpopup .iqitpopup-content{ color: #fff;
		}

		#iqitpopup .iqitpopup-newsletter-form{ color: #ffffff; background-color: #121212;

		
		background-repeat: no-repeat !important;
		}

		#iqitpopup .iqitpopup-newsletter-form .newsletter-input{
		color: #999; background-color: #fff;
		}

		#iqitpopup .iqitpopup-newsletter-form .newsletter-inputl:-moz-placeholder {
  color: #999 !important;}
#iqitpopup .iqitpopup-newsletter-form .newsletter-input::-moz-placeholder {
  color: #999 !important;}
#iqitpopup .iqitpopup-newsletter-form .newsletter-input:-ms-input-placeholder {
  color: #999 !important; }
#iqitpopup .iqitpopup-newsletter-form .newsletter-input::-webkit-input-placeholder {
  color: #999 !important; }

		