<div class="tab-pane d-print-block fade js-rcgtag-info-panel" id="rcgtagTrackingTabContent" role="tabpanel" aria-labelledby="rcgtagTrackingTab" data-tracking-data="{{ tracking_data }}">
    <div class="info-block">
        <div class="rc-messages">
            <p class="js-rcgtag-st-status alert alert-warning" hidden>
                {{'This order has been included in the control table at installation process to avoid duplicates with old tracking modules, so maybe the transaction is not registered on GA'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}.<br>
                <strong>{{'If you want to send this order to GA, click on'|trans({}, 'Modules.Rc_Pganalytics.Admin')}} "{{'Remove from Control Table'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}" {{'button to enable the manual send'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</strong>
            </p>
            <p class="js-rcgtag-not-send alert alert-danger" hidden>
                {{'This order has not been sent to GA'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}.<br>
                <strong>{{'Change the order status to send it automatically or click the'|trans({}, 'Modules.Rc_Pganalytics.Admin')}} "{{'Force Send to GA'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}" {{'button'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</strong>
            </p>
        </div>
        <dl class="js-rcgtag-order-detail list-detail" hidden>
            <dt>{{'Transaction sent'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</dt>
            <dd class="js-rcgtag-detail-sent"></dd>
            <dt>{{'Sent By'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</dt>
            <dd class="js-rcgtag-detail-by"></dd>
        </dl>
    </div>
    <div class="tracking-options">
        <button type="button" class="js-rcgtag-send btn btn-primary" data-action="forceTransaction" hidden>{{'Force Send to GA'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</button>
        <button type="button" class="js-rcgtag-remove btn btn-danger" data-action="deleteFromControlTable" hidden>{{'Remove from Control Table'|trans({}, 'Modules.Rc_Pganalytics.Admin')}}</button>
    </div>
</div>

<script src="{{ asset('../modules/rc_pganalytics/views/js/admin/controllers/order/order_tab_content.js') }}"></script>